@font-face {
  font-family: "Bottle Party Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./public/fonts/bottleparty.otf") format("opentype");
}
@font-face {
  font-family: "DOLAC Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./public/fonts/dreaming-outloud-allcaps-regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Buk Judes Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./public/fonts/BukJudes.ttf") format("truetype");
}
