body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: url("./bg-contribua.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 6rem; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  color: black;
  font-size: xx-large;
  margin-bottom: 0;
  /* font-family: "Cranberry Regular"; */
  font-family: "Coffe Fills";
  /* font-weight: 100; */
  /* line-height: ; */
}
.menu_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
.menu_links a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0rem 2rem;
  margin: auto;
  margin-top: 0;
  width: 80%;
  font-family: "DOLAC Regular";
}

.img_container {
  max-width: 55%;
}
img {
  max-width: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  /* max-width: 50%; */
  text-align: center;
  margin: 0 auto;
  /* align-items: start; */

  /* flex: 1; */
}

.heading h1 {
  font-size: 7rem;
  margin: 0;
  margin-bottom: 2rem;
  color: #79b43f;
  font-family: "Coffe Fills";
  text-transform: uppercase;
}
.heading p {
  font-size: 3rem;
  margin-bottom: 0px;
  color: #797878;
  margin-top: 0px;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn_primary {
  background-color: #99c86a;
  color: white;
  border: none;
  font-family: "DOLAC Regular";
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
}

.btn_secondary {
  background-color: white;
  color: #99c86a;
  border: 1px solid #99c86a;
  font-family: "DOLAC Regular";
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

.buttons img {
  width: 7rem;
  cursor: pointer;
}

@media screen and (max-width: 1480px) {
  nav {
    font-size: x-large;
  }

  .heading h1 {
    font-size: 6rem;
  }
}
